{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".git"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "public_html/fotos",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".gitattributes",
          "mtimeMs": 1606277719068.8186,
          "date": "2021-03-13T17:03:41.100Z"
        },
        {
          "file": ".htaccess",
          "mtimeMs": 1606277719080.1057,
          "date": "2021-03-13T17:03:42.329Z"
        },
        {
          "file": "404.html",
          "mtimeMs": 1606277719081.2478,
          "date": "2021-03-13T17:03:43.401Z"
        },
        {
          "file": "LICENSE",
          "mtimeMs": 1606277719081.2478,
          "date": "2021-03-13T17:03:44.328Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1606277719082.9766,
          "date": "2021-03-13T17:03:45.336Z"
        },
        {
          "file": "apple-touch-icon.png",
          "mtimeMs": 1606277719082.9766,
          "date": "2021-03-13T17:03:46.316Z"
        },
        {
          "file": "browserconfig.xml",
          "mtimeMs": 1606277719083.9731,
          "date": "2021-03-13T17:03:47.252Z"
        },
        {
          "file": "crossdomain.xml",
          "mtimeMs": 1606277719084.9702,
          "date": "2021-03-13T17:03:48.421Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1606277719085.968,
          "date": "2021-03-13T17:03:49.556Z"
        },
        {
          "file": "fotos.html",
          "mtimeMs": 1615654434241.4397,
          "date": "2021-03-13T17:03:50.838Z"
        },
        {
          "file": "humans.txt",
          "mtimeMs": 1606277719087.9712,
          "date": "2021-03-13T17:03:52.008Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1615654390765.8079,
          "date": "2021-03-13T17:03:53.119Z"
        },
        {
          "file": "prepros.config",
          "mtimeMs": 1615655033190.0874,
          "date": "2021-03-13T17:03:54.528Z"
        },
        {
          "file": "recientes.html",
          "mtimeMs": 1606277719112.395,
          "date": "2021-03-13T17:03:55.825Z"
        },
        {
          "file": "robots.txt",
          "mtimeMs": 1606277719112.5103,
          "date": "2021-03-13T17:03:56.742Z"
        },
        {
          "file": "sitemap.xml",
          "mtimeMs": 1615654301903.0867,
          "date": "2021-03-13T17:03:57.974Z"
        },
        {
          "file": "tile-wide.png",
          "mtimeMs": 1606277719136.9229,
          "date": "2021-03-13T17:03:59.370Z"
        },
        {
          "file": "tile.png",
          "mtimeMs": 1606277719137.9204,
          "date": "2021-03-13T17:04:01.029Z"
        },
        {
          "file": "photos/aleatorio.html",
          "mtimeMs": 1606277719090.7117,
          "date": "2021-03-13T17:04:02.282Z"
        },
        {
          "file": "photos/animales.html",
          "mtimeMs": 1606277719092.5928,
          "date": "2021-03-13T17:04:03.540Z"
        },
        {
          "file": "photos/arequipa.html",
          "mtimeMs": 1606277719093.59,
          "date": "2021-03-13T17:04:04.859Z"
        },
        {
          "file": "photos/cocachacra.html",
          "mtimeMs": 1606277719094.5874,
          "date": "2021-03-13T17:04:06.057Z"
        },
        {
          "file": "photos/comida.html",
          "mtimeMs": 1606277719096.1384,
          "date": "2021-03-13T17:04:07.259Z"
        },
        {
          "file": "photos/gato.html",
          "mtimeMs": 1606277719097.1345,
          "date": "2021-03-13T17:04:08.416Z"
        },
        {
          "file": "photos/infounsa.html",
          "mtimeMs": 1606277719097.1345,
          "date": "2021-03-13T17:04:09.592Z"
        },
        {
          "file": "photos/junio.html",
          "mtimeMs": 1606277719098.1362,
          "date": "2021-03-13T17:04:10.789Z"
        },
        {
          "file": "photos/medicina.html",
          "mtimeMs": 1606277719101.4524,
          "date": "2021-03-13T17:04:11.886Z"
        },
        {
          "file": "photos/miraflores-lima.html",
          "mtimeMs": 1606277719102.4783,
          "date": "2021-03-13T17:04:13.058Z"
        },
        {
          "file": "photos/misti.html",
          "mtimeMs": 1606277719103.4436,
          "date": "2021-03-13T17:04:14.057Z"
        },
        {
          "file": "photos/mollendo.html",
          "mtimeMs": 1606277719104.298,
          "date": "2021-03-13T17:04:15.411Z"
        },
        {
          "file": "photos/navidad2012.html",
          "mtimeMs": 1606277719105.295,
          "date": "2021-03-13T17:04:16.635Z"
        },
        {
          "file": "photos/night.html",
          "mtimeMs": 1606277719106.2915,
          "date": "2021-03-13T17:04:17.785Z"
        },
        {
          "file": "photos/tecnologia.html",
          "mtimeMs": 1606277719107.2888,
          "date": "2021-03-13T17:04:18.960Z"
        },
        {
          "file": "photos/yumina.html",
          "mtimeMs": 1606277719108.286,
          "date": "2021-03-13T17:04:20.182Z"
        },
        {
          "file": "photos/yura.html",
          "mtimeMs": 1606277719109.2153,
          "date": "2021-03-13T17:04:21.286Z"
        },
        {
          "file": "src/stylus/fotos.styl",
          "mtimeMs": 1606277719115.5015,
          "date": "2021-03-13T17:04:22.568Z"
        },
        {
          "file": "src/stylus/main.styl",
          "mtimeMs": 1606277719115.9858,
          "date": "2021-03-13T17:04:23.865Z"
        },
        {
          "file": "static/css/fotos.css",
          "mtimeMs": 1606277719118.3813,
          "date": "2021-03-13T17:04:25.037Z"
        },
        {
          "file": "static/css/main.css",
          "mtimeMs": 1606277719119.3787,
          "date": "2021-03-13T17:04:26.401Z"
        },
        {
          "file": "static/img/down.png",
          "mtimeMs": 1606277719120.376,
          "date": "2021-03-13T17:04:27.637Z"
        },
        {
          "file": "static/img/edgarcornejo.png",
          "mtimeMs": 1606277719121.3733,
          "date": "2021-03-13T17:04:28.909Z"
        },
        {
          "file": "static/img/fotosgratis.png",
          "mtimeMs": 1606277719121.3733,
          "date": "2021-03-13T17:04:30.144Z"
        },
        {
          "file": "static/img/load.gif",
          "mtimeMs": 1606277719122.4814,
          "date": "2021-03-13T17:04:31.369Z"
        },
        {
          "file": "static/img/main-lap.jpg",
          "mtimeMs": 1606277719125.6665,
          "date": "2021-03-13T17:04:32.911Z"
        },
        {
          "file": "static/img/main-mob.jpg",
          "mtimeMs": 1606277719126.662,
          "date": "2021-03-13T17:04:34.294Z"
        },
        {
          "file": "static/img/main-tab.jpg",
          "mtimeMs": 1606277719128.297,
          "date": "2021-03-13T17:04:35.681Z"
        },
        {
          "file": "static/img/main.jpg",
          "mtimeMs": 1606277719130.761,
          "date": "2021-03-13T17:04:37.575Z"
        },
        {
          "file": "static/js/classie.js",
          "mtimeMs": 1606277719131.7578,
          "date": "2021-03-13T17:04:38.846Z"
        },
        {
          "file": "static/js/colorfinder-1.1.js",
          "mtimeMs": 1606277719131.9358,
          "date": "2021-03-13T17:04:40.083Z"
        },
        {
          "file": "static/js/gridScrollFx.js",
          "mtimeMs": 1606277719132.935,
          "date": "2021-03-13T17:04:41.205Z"
        },
        {
          "file": "static/js/imagesloaded.pkgd.min.js",
          "mtimeMs": 1606277719133.9304,
          "date": "2021-03-13T17:04:42.523Z"
        },
        {
          "file": "static/js/masonry.pkgd.min.js",
          "mtimeMs": 1606277719134.9275,
          "date": "2021-03-13T17:04:43.757Z"
        },
        {
          "file": "static/js/modernizr.custom.js",
          "mtimeMs": 1606277719135.9248,
          "date": "2021-03-13T17:04:44.991Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "src/stylus/fotos.styl",
        "config": {
          "customOutput": "static\\css\\fotos.css"
        }
      },
      {
        "file": "src/stylus/main.styl",
        "config": {
          "customOutput": "static\\css\\main.css"
        }
      }
    ]
  }
}
